.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.vesper-libre-medium-1 {
    font-family: "Vesper Libre", serif;
    font-weight: 500;
    font-style: normal;
}

.playwrite-tz-guides-regular {
    font-family: "Playwrite TZ Guides", cursive;
    font-weight: 400;
    font-style: normal;
}